.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container > img {
    border-radius: 39px;
}

.container > img:first-child {
    margin-right: 38px;
}