.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainer > span {
    margin-bottom: 39px;
}

.subContainer > button {
    border-radius: 39px;
    background: #5236FF;
    padding: 25px 123px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}