.cardListContainer {
    width: 95%;
    height: 80vh;
    overflow-y: scroll;
    background-color: #2b2b2b;
    border-radius: 3px;
    box-shadow: 0 0 20px black;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.spinner {
    width: 50px;
    height: 50px;
    background-image: url("https://lh3.googleusercontent.com/MxqAAjte5yQsQD0cC73SBVJuH6kX9F-fQ1X97VecyhGHGpixcT1ce7OftVuDufTSVIG_gY233437bOmw1AZFpg1Har4t5sP1jDo4GAX_so38dg=e365-w261");
    background-size: cover;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}